<?xml version="1.0">
<model>
    <name>Mobile Warahouse Robot</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</>

    <author>
     <name>Automatic Addison</>
     <email>automaticcaddision@todo.todo</email>
    </author>
    <description>
      A basic Differential drive mobile robot.
    </description>
</model>